# Frontend (Streamlit dashboard)
streamlit

# Backend (API)
fastapi
uvicorn

# HTTP requests
requests

# AWS (optional but included since you import it)
boto3

# Data processing
pandas
numpy

# Visualization
plotly

# File handling (comes with FastAPI but good to ensure)
python-multipart

# Optional (used internally sometimes)
python-dotenv



# create a venv -->  python3 -m venv venv

# activate it -->  source venv/bin/activate -- Mac
#                  venv\Scripts\activate -- windows cmd
#                  venv\Scripts\Activate.ps1 -- powershell

# pip install -r requirements.txt to install everything at once 


# activate backend -->  uvicorn backend:app --reload  
# activate frontend --> streamlit run app.py 